.pageheader {
  display: flex;
  align-items: center;
  width: 101%;
  font-size: 17px;
  padding: 21px;
  margin: 0; /* Ensures no margin above the header */
  border: 0px solid black;
  color: rgb(238, 238, 238);
  background-color: #2c2c2c;
  border-radius: 0px;
  position: relative; /* This allows the header to be positioned normally in the flow */
  top: 0; /* Ensures it touches the top */
}



/* UniqueForm.css */


.unique-form-container {
  max-width: 70vw ;
  margin: 0 auto;
  padding: 20px;
  /* background-color: #ffffff; */
  border-radius: 8px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.unique-form-title {
  text-align: center;
  margin-bottom: 20px;
}

.unique-form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.unique-form-group {
  flex: 1 1 calc(50% - 20px);
  display: flex;
  flex-direction: column;
}

.unique-label {
  margin-bottom: 8px;
  font-weight: bold;
}

.unique-input,
.unique-select,
.unique-textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.unique-textarea {
  min-height: 100px;
  resize: vertical;
}

.unique-radio-group {
  display: flex;
  gap: 10px;
}

.unique-radio {
  display: flex;
  align-items: center;
}

.unique-radio input {
  margin-right: 5px;
}

.unique-details-section,
.unique-location-section {
  width: 100%;
  margin-top: 30px;
}

.unique-section-title {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
}

.unique-location-info {
  padding: 10px;
  background-color: #d9edf7;
  color: #31708f;
  border-radius: 4px;
  margin-bottom: 20px;
}

.unique-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.unique-button:hover {
  background-color: #0056b3;
}

.form-submit-btn1
{
  background: #7ec313;
padding: 9px;
padding-left:16px ;
padding-right:16px ;
border-radius: 6px;
color: white;
position: relative;
left: 11px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .unique-form-group {
      flex: 1 1 100%;
  }
}
