.radish-cover-crop-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* max-width: 2500px; */
  /* margin-left: 10px; */
  /* padding: 20px; */
  background-color: #e3eae6;
  /* border-radius: 10px; */
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
  font-family: Arial, sans-serif;
}
.a-contract-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #2d2d2d;
  color: #fff;
  padding: 30px;
  width: 102.2%;
  /* border-radius: 8px 8px 0 0; */
  flex-wrap: wrap; /* Ensures the header content wraps on smaller screens */
}
.a-contract-header h1 {
  font-size: 2rem;
  margin: 0;
}

.a-contract-header p {
  font-size: 1rem;
  margin-top: 10px;
}
.a-contract-id {
  font-size: 0.875rem;
  color: #bbb;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.back-arrow {
  font-size: 24px;
  cursor: pointer;
}

.title h1 {
  font-size: 30px;
  color: black;
}

.title p {
  font-size: 14px;
  color: #ccc;
}

.content{
  width: 100%;
}
.content h2 {
  color: #4CAF50;
  font-size: 22px;
}

.content h3 {
  color: #A0C334;
  font-size: 18px;
}

.info-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.info-table td {
  border: 1.6px solid #000000;
  padding: 8px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.back-button,
.edit-button {
  background: #7ec313;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.edit-button {
  background-color: #4CAF50;
}

.back-button:hover,
.edit-button:hover {
  background: #88d11b;
}

/* Responsive styling */
@media (max-width: 768px) {
  .radish-cover-crop-container {
    padding: 15px;
  }

  .info-table td {
    font-size: 14px;
  }

  .buttons {
    flex-direction: column;
    gap: 10px;
  }

  .back-button,
  .edit-button {
    width: 100%;
  }
}
