.besidecard
{
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    align-items:center;
    justify-content: center;
    width: min(600px,50vw);
    
    
}
.content
{
    /* width: min(90%,400px); */
    width: min(320px,50vw);
    
    font-size: 17px;
}
.title
{
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.besidesliderbtn
{
    background-color: rgb(37, 97, 83);
    color: white;
    padding: 10px;
    border-radius:8px;
    margin-top: 15px;
}
