.wholeslider
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 105%;
    /* border: 2px solid green; */
    flex-wrap: wrap;
    background-color: rgb(205, 211, 209);
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 40px;
}
.sliderencloser
{
    display: flex;
    justify-content: center;
}
.slider2heading
{
    /* border: 2px solid black; */
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.slider2headingencloser
{
    display: flex;
    flex-direction: column;
    /* border: 2px solid blue; */
    align-items:center;
}